* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.flex-aic-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.flex-btn {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
