.header {
  position: relative;
}

.header__top {
  background: #010101;
  height: 52px;
  padding: 16px 0;
}

.contacts__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
}

.contacts__icon {
  margin-right: 8px;
  width: 100%;
  max-width: 20px;
  max-height: 20px;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts__icon_mail {
  margin-right: 8px;
  width: 100%;
  max-width: 20px;
  max-height: 20px;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts__phone {
  margin-right: 28px;
  color: #fff;
  transition: 0.5s all;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.contacts__phone:hover {
  color: #4f8ff0;
}

.contacts__mail {
  color: #fff;
  transition: 0.5s all;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.contacts__mail:hover {
  color: #4f8ff0;
}

.contacts__call {
  color: #4f8ff0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  border: none;
  cursor: pointer;
  background-color: #000;
}

.contacts__link {
  display: flex;
  align-items: center;
}
